doctype xhtml
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    include pugtmpl/head.pug
  body
    include pugtmpl/header.pug
    .wrapper
      include pugtmpl/sidebar.pug
      .contents
        .section.wide
          include:markdown-it(html=true,xhtmlOut=true) articles/schedule.md
  include pugtmpl/foot.pug
