.background
  .media(style="background-image: url(IMG_4149_e2.jpg);")
  .background-dots
.header
  .header-wrapper
    .title
      span.fl C
      span ollege 
      span.fl S
      span ociety 
      span.fl J
      span azz 
      span.fl O
      span rchestra 
